<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="952eff2e-f064-462d-bfb4-59c6ada1e1a1"
    Publisher="CN=f5liu"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinUITest2</DisplayName>
    <PublisherDisplayName>f5liu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="WinUITest2"
        Description="WinUITest2"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

		<Extensions>
			<!--Specify which CLSID to activate when toast clicked-->
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="98BE10CB-9B1F-4411-9D2B-3BD4E7933DA5" />
			</desktop:Extension>

			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="WinUITest2.exe" Arguments="----AppNotificationActivated:" DisplayName="WinUITest">
						<com:Class Id="98BE10CB-9B1F-4411-9D2B-3BD4E7933DA5"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
		</Extensions>
	
	</Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
